#title {
  background-color: #ff4c68;
  color: #fff;
}

body {
  font-family: 'Montserrat';
  text-align: center;
}

.feature-box {
  padding: 5%
}


/* Modular Code */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat-Bold';
}

/* Heading */
.big-heading {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}




p {
  color: grey;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat-light';
  font-size: 1.2rem;
}

/* Dowload Button */
.download-button {
  margin: 3% 5% 3% 0;
}

/* Image Title */
.image-iphone6 {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.container-fluid {
  padding: 7% 15%;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

#features {
  background-color: #fff;
  z-index: 1;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimoni Section */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  margin: 20px;
  width: 10%;
  border-radius: 100%;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}



/* Price */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .image-iphone6 {
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background-color: #ff4c68;
}

.big-heading {
  font-size: 3.5rem;
  font-family: 'Montserrat-Black';
  color: #fff;
  line-height: 1.5;
}

#footer {
  line-height: 1.5;
}

.y {
  margin: 20px 10px;
}
